* {
 padding: 0;
 margin: 0;
 box-sizing: border-box; 
}

.logo nav-link {
  color: black;
  font-family: 'Cinzel', serif;
}

body {
  color: black;
  padding: 90px 0 0 0;
}

h1{
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
}

h3,
h2,
h4,
h5,
.grupo-2 {
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.paginacompleta {
  width: 100%;
  max-width: 1300px;
  
  margin: 0 auto;
  border: 5px solid;
}

.header {
 background-color: #1b2220af;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 10px 10px 40px;
  line-height: 80px;
}

.nav{
  display: flex;
  justify-content: space-between;

  max-width: 992;
  margin: 0 auto;
}

.nav-link{
  color: #ffffff;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 15px;
  margin: 0 10px;
  padding-top: 10px;
  line-height: 85px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 8px 13px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color: #01443182;
  transition: 0.5s;
}

.nav-toggle{
  color: #ffffff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

 display: none;
}

html {
  scroll-behavior: smooth;
}

a[name] {
  scroll-margin-top: 100px;
}

.encabezado-img {
  font-size: 25px;
  background: linear-gradient(rgba(44, 44, 44, 0.275), rgba(44, 44, 44, 0.275)), url(https://cdn.discordapp.com/attachments/1045912906425958410/1050530844055445534/diferencias-piel-hombre-mujer.jpg);
  height: 500px;
  width: 100%;
  margin-top: -100px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.904);
  letter-spacing: 5px;
  text-align: center;
}

.Titulo{
  text-shadow: 1px 1px 1px #00000068;
  text-shadow: 1px 2px 2px #00000068;
  text-shadow: 1px 3px 3px #00000068;
  text-shadow: 1px 4px 4px #00000068;
  text-shadow: 1px 5px 5px #00000068;
  text-shadow: 1px 6px 6px #00000068;
  text-shadow: 1px 7px 7px #00000068;
}

.Titulo:hover{
  transition-duration: .8s;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-7%);
}

.Cuadros{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Cuadro{
  padding: 2px 1px;
  margin: 50px;
  width: 165px;
  background-color: #ffffffe8;
  align-items: center;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px rgba(45, 45, 45, 0.276);
  box-shadow: 2px 2px 2px 2px rgba(45, 45, 45, 0.276);
  box-shadow: 3px 3px 3px 3xp rgba(45, 45, 45, 0.276);
  box-shadow: 4px 4px 4px 4px rgba(45, 45, 45, 0.276);
  box-shadow: 5px 5px 5px 5px rgba(45, 45, 45, 0.276);
  text-align: center;
}

.catalogo1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja img{
  height: 165px;
  width: 175px;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(51, 51, 51, 0.122);
}

.caja img:hover{
  box-shadow: 1px 1px 1px 1px rgba(45, 45, 45, 0.276);
  box-shadow: 2px 2px 2px 2px rgba(45, 45, 45, 0.276);
  box-shadow: 3px 3px 3px 3xp rgba(45, 45, 45, 0.276);
  box-shadow: 4px 4px 4px 4px rgba(45, 45, 45, 0.276);
  box-shadow: 5px 5px 5px 5px rgba(45, 45, 45, 0.276);
  transition: 0.7s;
  transform: translateY(-7%);
}

.caja{
  margin: 25px;
  max-width: 165px;
}

.caja p{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.caja h3{
  text-align: center;
  font-weight: bold;
}

.Precio h3{
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 5px #4efc2bf8;
  font-weight: bold;
}

.Pedirtexto{
  color: #000000;
}

.Pedirenlace{
  text-decoration: none;
}

.PedirProducto{
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 165px;
  background-color: #07d3b180;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 3px rgba(108, 108, 108, 0.276);
}

.PedirProducto:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5%);
}

.Precio{
  color: #38b91f;
}

.MasCaro{
  color: rgb(200, 20, 20);
}

.Plataformas{
  text-decoration: none;
  color: #ffffff;
}

.Plataformas:hover{
  background-color: #3d8666a6;
  transition: 0.2s;
  border-radius: 5px;
  padding: 0px 6px;
}

.IconoRed:hover{
  background-color: #3d8666a6;
  border-radius: 100px;
  transition: 2s;
} 

.finalFooter {
  width: 100%;
  background-color: #0f0f0ff8;
  color: #ffffff;
}

.finalFooter .grupo-1{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 40px 0 0 0;
  padding-left: 10px;
}

.finalFooter .grupo-1 .cajafooter figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalFooter .grupo-1 .cajafooter figure img{
  width: 65px;
}

.finalFooter .grupo-1 .cajafooter h2{
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 20px;
}

.finalFooter .grupo-1 .cajafooter p{
  color: #efefef;
  margin-bottom: 10px;
}

.finalFooter .grupo-1 .redsocial a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  transition: all 300ms ease;
}

.finalFooter .grupo-1 .redsocial a:hover {
  color: #66fdbc94;
}

.finalFooter .grupo-2{
  background-color: #1523366d;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.finalFooter .grupo-2 small{
  font-size: 15px;
}

/*moviles*/
@media screen and (max-width: 950px){
  body {
    padding: 60px 0 0 0;
  }

 .header{
  height:65px;
 }

 .logo{
  font-size: 25px;
  padding: 3px 0 10px 20px;
  line-height: 60px;
 }

 .nav-menu{
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #1b2220fc;
  position: fixed;
  left: 0;
  top: 63px;
  width: 100%;
  padding: 20px 0;

  height: calc(100% - 60px);
  overflow-y: auto;

  left: 100%;
  transition: left 0.5s;
 }

 .nav-menu-item{
  line-height: 60px;
 }

 .nav-menu-link:hover{
  background: none;
  color: #77f7ea;
 }

 .nav-toggle{
  display: block;
 }

 .nav-menu_visible{
  left: 0;
 }
 
 .nav-toggle:focus:not(:focus-visible) {
  outline: none;
 }

 .nav-menu_visible{
  left: 0;
 }
 
 .nav-toggle:focus:not(:focus-visible) {
  outline: none;
 }

 a[name] {
  scroll-margin-top: 75px;
}

 .encabezado-img{
  font-size: 20px;
  height: 280px;
  width: 100%;
  margin-top: -60px;
  letter-spacing: 3px;
}

 .Cuadro{
  padding-top: 6px;
  margin: 10px;
  width: 140px;
  height: 35px;
  border-radius: 7px;
 }

 .caja img{
  height: 140px;
  width: 140px;
}

 .caja{
  margin: 8px;
  max-width: 140px;
}

.PedirProducto{
  width: 140px;
}

 .finalFooter .grupo-1{
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
 }
}